html,
body {
    font-family: 'Russo One', sans-serif, Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #111;
}

.credits-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1 rem;
    text-align: center;
    background-color: #1c1c1c;
    color: #ffd24d;
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    animation: scrollCredits 8.5s ease-out forwards;
}

.h2 {
    font-size: 12vw;
    margin-bottom: 2vh;
    margin-top: 7vh;
    text-shadow: 0vw 0vw 13vw rgb(255 255 255);
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.credits p {
    font-size: 2.5vw;
    margin-bottom: 2vh;
    margin-top: 4vh;
    display: inline-block;
    text-shadow: 0vw 0vw 13vw rgb(255 255 255);
}

.credits ul {
    font-size: 4vw;
    margin: 2vh 0;
    list-style: none;
    padding: 0;
    display: inline-block;
}

.credits li {
    font-size: 4vw;
    margin-top: 4.5vh;
    text-shadow: 0vw 0vw 7vw rgb(255 255 255);
    display: inline-block;
}

span {
    font-size: 3vw;
    margin-top: 3vh;
    display: inline-block;
}

@keyframes scrollCredits {
    0% {
        top: 90%;
    }

    100% {
        top: 5%;
    }
}

/*MEDIA QUERY PER SCHERMI GRANDI*/

@media screen and (max-width: 1500px)
{
    .h2 {
        font-size: 20vw;
        margin-bottom: 6vh;
        margin-top: 25vh;
        text-shadow: -1vw 0vw 8vw rgb(255 255 255);
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }

    .credits p {
        font-size: 7vw;
        margin-bottom: 2vh;
        margin-top: 0;
        display: inline-block;
    }

    .credits ul {
        font-size: 4vw;
        margin-top: 0;
        list-style: none;
        padding: 0;
        display: inline-block;
    }

    .credits li {
    font-size: 6vw;
    margin-top: 3vh;
    text-shadow: 0vw 0vw 7vw rgb(255 255 255);
    display: inline-block;
    }
}
